<div class="wrapper ">
  <app-category></app-category>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)"> </a>
        </div>
        <button aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navigation-example" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
      </div>
    </nav>
    <app-task></app-task>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="https://creative-tim.com/presentation">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right" id="date">
          <i class="material-icons">favorite</i>
        </div>
      </div>
    </footer>
    <script>
      const x = new Date().getFullYear();
      let date = document.getElementById('date');
      date.innerHTML = '&copy; ' + x + date.innerHTML;
    </script>
  </div>
</div>
<div class="fixed-plugin">
  <div class="dropdown show-dropdown">
    <a data-toggle="dropdown" href="#">
      <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul class="dropdown-menu">
      <li class="header-title"> Sidebar Filters</li>
      <li class="adjustments-line">
        <a class="switch-trigger active-color" href="javascript:void(0)">
          <div class="badge-colors ml-auto mr-auto">
            <span class="badge filter badge-purple active" data-color="purple"></span>
            <span class="badge filter badge-azure" data-color="azure"></span>
            <span class="badge filter badge-green" data-color="green"></span>
            <span class="badge filter badge-warning" data-color="orange"></span>
            <span class="badge filter badge-danger" data-color="danger"></span>
          </div>
          <div class="clearfix"></div>
        </a>
      </li>
      <li class="header-title">Images</li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img alt="" src="../assets/img/sidebar-1.jpg">
        </a>
      </li>
      <li class="active">
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img alt="" src="../assets/img/sidebar-2.jpg">
        </a>
      </li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img alt="" src="../assets/img/sidebar-3.jpg">
        </a>
      </li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img alt="" src="../assets/img/sidebar-4.jpg">
        </a>
      </li>
      <li class="button-container">
        <a class="btn btn-primary btn-block" href="https://www.creative-tim.com/product/material-dashboard-dark"
           target="_blank">Free Download</a>
      </li>
      <li class="button-container">
        <a class="btn btn-default btn-block"
           href="https://demos.creative-tim.com/material-dashboard-dark/docs/2.0/getting-started/introduction.html" target="_blank">
          View Documentation
        </a>
      </li>
      <li class="button-container github-star">
        <a aria-label="Star ntkme/github-buttons on GitHub" class="github-button"
           data-icon="octicon-star" data-show-count="true" data-size="large"
           href="https://github.com/creativetimofficial/material-dashboard/tree/dark-edition">Star</a>
      </li>
      <li class="header-title">Thank you for 95 shares!</li>
      <li class="button-container text-center">
        <button class="btn btn-round btn-twitter" id="twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
        <button class="btn btn-round btn-facebook" id="facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
        <br>
        <br>
      </li>
    </ul>
  </div>
</div>
