<div class="sidebar" data-background-color="black" data-color="purple" data-image="../assets/img/sidebar-2.jpg">
  <div class="logo"><a class="simple-text logo-normal" href="http://www.creative-tim.com">
    Creative Tim
  </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li (click)="displayTasksByCategory(category)"
          *ngFor="let category of categories"
          [class.active]="category===selectedCategory"
          class="nav-item pointer"
      >
        <a class="nav-link">
          <i class="material-icons">dashboard</i>
          <p>{{category.title}}</p>
        </a>
      </li>

    </ul>
  </div>
</div>

